.background{
    background-color: #61605f;
}

.pageTitle{ 
    font-family:'Montserrat';
    color:white;
    text-transform: uppercase;
    font-size:15vh;
    margin-bottom:0;
    text-align: center;
}

.bioText{
    font-family:'Montserrat';
    color:black;
    font-weight:500;
    text-transform: uppercase;
    text-align: center;
    font-size:2vh;
}

.bio{
    color:white;
    padding: 1vh 2vh 1vh 10vh;
    background: linear-gradient(to right, #61605f 0%,#A5B592, #61605f 100%);   
    width:150vh;
    text-align: center;
    
}

.afterBio{
    color: white;
    margin-left: 50vh;
}

.contact{
    font-family:'Montserrat';
    color: white;
    text-transform: uppercase;
    font-size:2vh;
    margin-top: 2vh;
    text-align: center;
}

.btn{
    font-family:'Montserrat';
    color: white;
    opacity: .6;
    transition: 0.3s;
}

/*this gets rid of the purple font on visited links*/
a:visited { 
    text-decoration: none; 
    color: white; 
   }

.btn:hover{
    color:#A5B592;
    opacity: 1;
}

.projectHead{
    font-family: 'Montserrat';
    font-size:15vh;
    font-weight: 400;
    color:white;

}

.generalText{
    color:white;
    font-family: "Montserrat";
}

.bulletList{
    color: white;
    font-family:"Montserrat";
    list-style: circle;
}

/* form customization */
input[type=button], input[type=submit], input[type=reset] {
    background-color: #A5B592;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}