.background{
    background-color: #61605f;
    background: linear-gradient(to bottom, grey, 50%)
}

.pageTitle{ 
    font-family:'Montserrat';
    color:white;
    text-transform: uppercase;
    font-size:15vh;
    margin-bottom:0;
}

.bioText{
    font-family:'Montserrat';
    color:black;
    text-transform: uppercase;
    font-size:2vh;
}

.bio{
    color:white;
    padding: 1vh 2vh 1vh 10vh;
    background: linear-gradient(to right, #A5B592, 95%, #61605f );
    width:150vh;
    position: relative;
    margin-left: -1vh;
    
}

.afterBio{
    color: white;
    margin-left: 50vh;
}

.contact{
    font-family:'Montserrat';
    color: white;
    text-transform: uppercase;
    font-size:2vh;
    margin-top: 2vh;
    text-align: center;
}

.projectHead{
    font-family: 'Montserrat';
    font-size:15vh;
    font-weight: 400;
    color:white;

}

.generalText{
    color:white;
    font-family: "Montserrat";
}

.bulletList{
    color: white;
    font-family:"Montserrat";
    list-style: circle;
}
