
/* code written by me! */
.parallax {
    /* The image used */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(97%2c 96%2c 95%2c 1)'%3e%3c/rect%3e%3cpath d='M796.992%2c470.192C829.18%2c470.673%2c854.862%2c446.181%2c870.459%2c418.02C885.51%2c390.845%2c889.262%2c358.2%2c874.006%2c331.139C858.493%2c303.622%2c828.574%2c288.363%2c796.992%2c287.703C764.131%2c287.016%2c729.903%2c298.93%2c714.191%2c327.799C698.984%2c355.74%2c711.239%2c388.381%2c727.23%2c415.881C743.108%2c443.186%2c765.41%2c469.72%2c796.992%2c470.192' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M213.126%2c425.424C286.778%2c430.676%2c369.408%2c425.455%2c410.5%2c364.106C455.145%2c297.452%2c450.041%2c205.713%2c404.55%2c139.634C363.773%2c80.401%2c284.971%2c74.303%2c213.126%2c77.402C148.106%2c80.207%2c81.328%2c98.914%2c48.32%2c155.002C14.912%2c211.77%2c24.868%2c282.805%2c59.147%2c339.052C91.972%2c392.913%2c150.211%2c420.938%2c213.126%2c425.424' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1205.683791844028 893.0759764957616L1239.4354040335102 757.7056538500909 1104.0650813878394 723.9540416606089 1070.3134691983573 859.3243643062796z' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-13.682002085338688 132.776965067921L121.00653908086127 86.39998115069653 74.62955516363681-48.288560015503435-60.058986002563145-1.911576098278971z' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M373.567%2c967.125C453.136%2c962.136%2c505.498%2c893.921%2c545.637%2c825.037C586.165%2c755.486%2c624.882%2c673.539%2c585.577%2c603.289C545.68%2c531.981%2c455.266%2c518.834%2c373.567%2c517.495C288.627%2c516.102%2c195.214%2c524.747%2c149.165%2c596.134C100.105%2c672.188%2c112.724%2c771.806%2c159.566%2c849.246C204.742%2c923.933%2c286.451%2c972.588%2c373.567%2c967.125' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M245.7059292142772 640.1761611555979L495.69595949057407 726.2546316268463 581.7744299618223 476.2646013505494 331.78439968552556 390.1861308793011z' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1235.64 372.5 a184.88 184.88 0 1 0 369.76 0 a184.88 184.88 0 1 0 -369.76 0z' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M675.418%2c623.498C711.913%2c622.576%2c749.508%2c611.909%2c768.114%2c580.499C787.022%2c548.579%2c780.72%2c509.024%2c762.304%2c476.817C743.736%2c444.344%2c712.796%2c416.911%2c675.418%2c418.389C639.819%2c419.797%2c618.13%2c452.777%2c599.67%2c483.248C580.183%2c515.414%2c556.368%2c552.306%2c574.24%2c585.396C592.595%2c619.382%2c636.804%2c624.473%2c675.418%2c623.498' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M103.02 470.45 a253.89 253.89 0 1 0 507.78 0 a253.89 253.89 0 1 0 -507.78 0z' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M991.54 381.8 a283.71 283.71 0 1 0 567.42 0 a283.71 283.71 0 1 0 -567.42 0z' fill='rgba(82%2c 82%2c 82%2c 0.3)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ///////////////////////////////////////////// */
/* NAVIGATION BAR STYLES */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family:'Montserrat';
}

.logo a {
    font-family:'Montserrat';
    color:white;
    text-transform: uppercase;
    font-size:2vw;
    margin-bottom:0vw;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: left;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li  {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: none;
}

.btn{
    font-family:'Montserrat';
    color: white;
    opacity: .6;
    transition: 0.3s;
    text-decoration: none; 
}

.para-btn{
    font-family:'Montserrat';
    color: white;
    opacity: .6;
    transition: 0.3s;
    text-decoration: none; 
}

/*this gets rid of the purple font on visited links*/
a:visited { 
    text-decoration: none; 
    color: white; 
    text-decoration: none; 
}

a:hover {
    color:#A5B592;
    opacity: 1;
    text-decoration: none; 
}

.btn:hover{
    color:#3d4236;
    opacity: 1;
    text-decoration: none;
}

.para-btn:hover{
    color:#A5B592;
    opacity: 1;
    text-decoration: none;
}

.quick-nav a {
    color: #fff;
    text-decoration: none;
}

/* ///////////////////////////////////////////// */
/* PARAGRAPH STYLES */

h1 {
    font-family:'Montserrat';
    color: white;
    text-transform: uppercase;
    font-size:1.75vw;
}

p {
    font-family:'Montserrat';
    color:white;
    font-size: 1.25vw;
}

/* ///////////////////////////////////////////// */
/* HEADHSOT IMAGE STYLES */
.container {
    position: relative; /* Create a positioning context for the overlay */
}

.overlay-text {
    background-color: #333;
    border-radius: 10px;
    margin-left:30vw;
    margin-right: 15vw;
}

/* ///////////////////////////////////////////// */
/* LEARN MORE */
.quick-nav-learnmore{
    background-color: #333;
    border-radius: 10px;
}

.quick-nav p{
    background-color: #A5B592;
    border-radius: 10px;
    padding:.5vw;
}

.quick-nav a:hover {
    color:#474e3d;
    opacity: 1;
    text-decoration: none;
}
/* ///////////////////////////////////////////// */
/* ABOUT ME PAGE */
.list {
    font-family:'Montserrat';
    color:white;
    font-size: 1.25vw;
}

/* ///////////////////////////////////////////// */
/* SMOOTH SCROLL BEHAVIOR */
.html {
    scroll-behavior: smooth;
}

/* ///////////////////////////////////////////// */
/* PROJECTS */

/* Model Airplane */
#modelAirplane {
    font-family: 'Montserrat';
    font-size: 4vw;
    font-weight: 400;
    color:white;
    background:#A5B592;
    margin-top:0;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left:5vw;
}

#modelAirplane p {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
}

#modelAirplane h1 {
    font-family:'Montserrat';
    color: white;
    text-transform: uppercase;
}

.modelAirplane-ul {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 52vw;
}

/* Soap Box */
#soapBox {
    font-family: 'Montserrat';
    font-size: 4vw;
    font-weight: 400;
    color:white;
    background:#A5B592;
    margin-top:0;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left:5vw;
}

#soapBox p {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
}

#soapBox h1 {
    font-family:'Montserrat';
    color: white;
    text-transform: uppercase;
}

.soapBox-ul {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 52vw;
}

/* Solar Backpack Stuff */
#solarBP {
    font-family: 'Montserrat';
    font-size: 4vw;
    font-weight: 400;
    color:white;
    background:#A5B592;
    margin-top:0;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left:5vw;
}

#solarBP p {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
}

#solarBP h1 {
    font-family:'Montserrat';
    color: white;
    text-transform: uppercase;
}

.solarBP-ul {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 52vw;
}

/* Green Monster stuff */
#greenMonster {
    font-family: 'Montserrat';
    font-size: 4vw;
    font-weight: 400;
    color:white;
    background:#A5B592;
    margin-top:0;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left:5vw;
}

#greenMonster p {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
}

#greenMonster h1 {
    font-family:'Montserrat';
    color: white;
    text-transform: uppercase;
}

.greenMonster-ul {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 52vw;
}

/* Green Monster stuff */
#noteBox {
    font-family: 'Montserrat';
    font-size: 4vw;
    font-weight: 400;
    color:white;
    background:#A5B592;
    margin-top:0;
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left:5vw;
}

#noteBox p {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
}

#noteBox h1 {
    font-family:'Montserrat';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.noteBox-ul {
    font-family:'Montserrat';
    color:white;
    font-size: 2vw;
    margin-left: 52vw;
}